*{
    color: white;
}
ul,h1,li{
     display: inline; 
}
ul{
     margin-left: 800px;
     position: absolute;
}
li{
    display: inline;
    margin: 20px;
    font-size: large;
    
}
li a{
    text-decoration: none;
}
li:hover{
  text-decoration:underline;
}
h1{
    margin-top: 10px;
    margin-left: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: rgb(240, 240, 241);
    background-color: transparent;
    text-shadow: 4px 4px blue;
}
img{
    margin-left: 60px;
    margin-top: 35px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-shadow: 0px 0px 70px rgb(82, 147, 215);

}
div{
    height: 500px;
    width: 700px;
    margin-left: 750px;
    background-color: transparent;
    position: absolute;
    margin-top: -550px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    padding-left: 10px;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
}
p{
    display: inline;
    color: rgb(56, 56, 235);
}
h3{
    font-size: 30px;
    margin-top: -20px;
}
h4{
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
svg{
    width: 35px;
    height: 35px;
    margin-top: -10px;
    background-color: rgb(104, 100, 100);
    border-radius: 50%;
    margin-right: 20px;
    padding: 5px;
    }
svg:hover{
     background-color: rgb(210, 204, 204);
    border-radius: 50%;
    
    
}
img:hover{
    box-shadow: 0px 0px 60px rgb(237, 135, 196);
}

@media screen and (max-width:600px) {
    ul{
        position: absolute;
        display: flex;
        right: 2px;
        top: -12px;

    }
    li{
        font-size: 15px;
        margin-left: -10px;
    }
    h1{
        margin-left: 10px;
        margin-top: 30px;
        font-size: 30px;
        
    }
    img{
        width: 86%;
        height: 25%;
        margin-left: 7%;
        margin-top: 50px;
    }
    div{
        margin-left: 0px;
        margin-top: 20px;
        width: 90%;
        margin-left: 5%;
    }
    
}
@media screen and (max-width: 400px){
     ul{
        position: absolute;
        display: flex;
        right: 0px;
        top: -12px;
        
    }
    li{
        font-size: 15px;
        margin-left: -12px;
    }
    h1{
        margin-left: 6px;
        margin-top: 30px;
        font-size: 30px;
        
    }
}